h1.welcome {
  text-align: center;
  color: limegreen;
}
.card {
  margin: 0 auto; /* Added */
  float: none; /* Added */
  margin-bottom: 10px; /* Added */
}
.list-group-item-action {
  text-align: center;
}
